#page-header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.75rem 1rem;
  color: white;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.75);
}

.input-group {
  width: 33%;
}

@media screen and (max-width: 1000px ) {
  .input-group {
    width: 100%;
  }
}

#main-wrapper {
  padding: 2rem;
}

.project-card {
  width: 15.4rem;
  margin: 0 1rem 1.5rem 0;
  transform: scale(1);
  transition: all 0.35s;
  z-index: 1;
}

.project-card img {
  object-fit: cover;
}

.project-card:hover {
  transform: scale(1.1);
  transition: all 0.35s;
  box-shadow: 0 0 25px rgba(25, 25, 25, 0.5);
  z-index: 2;
}

.card-body {
  height: 268px;
}

.card-img-top {
  height: 380px;
}

.card-text {
  overflow: auto;
}
